@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Cormorant+Upright:wght@300;400;500;600;700&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Italiana&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
    cursor: none; */
/* overflow-x: hidden;
} */

body {
    overflow-x: hidden;
    width: 100vw;
    max-width: 1920px;
    margin: 0 auto;
    background-color: floralwhite;
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
}

.floralwhite {
    color: floralwhite;
}

.bg-floralwhite {
    background-color: floralwhite;
}

.mask {
    mask-image: url("../public/mask.svg");
    background-color: #07897f;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0px;
    left: 0px;
    z-index: 100;
    pointer-events: none;
}

.about-background {
    background-image: url('../public/noise.svg');
    background-color: #202020;
}
